.hero-banner {
    position: relative;
    width: 100%;
    height: 719px;
    background-color: #e0e0e0;
}

.hero-slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.prev-btn {
    left: 33px;
}

.next-btn {
    right: 33px;
}

.intro-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.intro-image-wrapper {
    line-height: 0;
}

.intro-img {
    width: 1380px;
    height: 501px;
    object-fit: cover;
    display: block;
    margin-bottom: 26px;
}

/* INTRO CONTENT */
.intro-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-desc {
    width: 1378px;
    margin-top: 0;
    margin-bottom: 10px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: #303030;
    line-height: 1.5;
}

.btn-see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    width: 180px;
    height: 50px;
    border-radius: 25px;

    margin-top: 35px;
    margin-bottom: 50px;

    background-color: #02542D;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;

    transition: opacity 0.2s ease;
}

.btn-see-more:hover {
    opacity: 0.9;
}

/* STATISTICS SECTION */
.stats-section {
    width: 100%;
    height: 149px;

    background-color: #13AE5B;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-item:nth-child(1) {
    margin-right: 285px;
}

.stat-item:nth-child(2) {
    margin-right: 280px;
}

.stat-top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.stat-number {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 67px;
    color: #FFFFFF;
    line-height: 1;
}

.stat-desc {
    margin-top: 21px;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
    white-space: nowrap;
}

.deco-bar {
    position: absolute;
    top: 100%;
    left: 0;
}

.bar-light {
    width: 100%;
    height: 20px;
    background-color: #95CC44;
    z-index: 1;
}

.bar-dark {
    width: 640px;
    height: 30px;
    background-color: #009950;
    z-index: 2;
}

/* PRODUCT SECTION */
.product-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-title {
    margin-top: 47px;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #14AE5C;
    text-align: center;
    line-height: 1.2;
}

.product-bg-wrapper {
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;

    padding-top: 46px;
    padding-left: 206px;
    box-sizing: border-box;
}

.product-list {
    display: flex;
    align-items: flex-start;
}

.product-item {
    position: relative;
    width: 456.89px;
    height: 442.93px;
    flex-shrink: 0;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-item:nth-child(1) {
    margin-right: 98.11px;
}

.product-item:nth-child(2) {
    margin-right: 98.22px;
}

.product-label {
    position: absolute;
    width: 289px;
    height: 63px;
    background-color: #FFFFFF;
    border-radius: 31.5px;

    right: 177.89px;
    bottom: 55.93px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #02542D;
}

.btn-product-more {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    width: 180px;
    height: 50px;
    border-radius: 25px;

    margin-top: 41.7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    background-color: #02542D;
    color: #FFFFFF;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;

    transition: opacity 0.2s;
}

.btn-product-more:hover {
    opacity: 0.9;
}

/* ECOSYSTEM SECTION */
.ecosystem-section {
    position: relative;
    width: 100%;
    height: 882px;
    margin-top: 0;
    overflow: hidden;
}

/* SIDEBAR ẢNH TRÁI */
.eco-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.sidebar-img {
    display: block;
    /* height: 882px; */
}

/*TOP BARS */
.eco-bar {
    position: absolute;
    top: 28.47px;
}

.eco-bar-light {
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #95CC44;
    z-index: 1;
}

.eco-bar-dark {
    right: 0;
    width: 642px;
    height: 30px;
    background-color: #009950;
    z-index: 2;
}

.eco-title {
    position: relative;
    width: 100%;
    margin: 0;
    padding-top: 96.47px;
    text-align: center;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #14AE5C;
    line-height: 1.2;
    z-index: 20;
}

/* 3 TABS */
.eco-tabs-wrapper {
    position: absolute;
    top: 206px;
    left: 249px;

    display: flex;
    flex-direction: column;
    gap: 35px;
    z-index: 30;
}

.eco-tab-item {
    display: flex;
    align-items: center;
}

.tab-circle-img {
    width: 150px;
    height: 150px;
    object-fit: contain;

    position: relative;
    z-index: 2;
}

.tab-label-box1 {
    width: 507px;
    height: 94px;
    background-color: #007234;
    border-radius: 21px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-left: -38px;
}

.tab-label-box2 {
    width: 507px;
    height: 94px;
    background-color: #FFEB3D;
    border-radius: 21px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #007234;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-left: -38px;
}

.tab-label-box3 {
    width: 507px;
    height: 94px;
    background-color: #00B8F2;
    border-radius: 21px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #F5F5F5;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-left: -38px;
}

.tab-label-box1::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;

    border: 2px dashed #FFFFFF;
    border-radius: 21px;

    pointer-events: none;
}

.tab-label-box2::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;

    border: 2px dashed #FFFFFF;
    border-radius: 21px;

    pointer-events: none;
}

.tab-label-box3::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;

    border: 2px dashed #FFFFFF;
    border-radius: 21px;

    pointer-events: none;
}

/* KHỐI NỘI DUNG BÊN PHẢI */
.eco-right-content {
    position: absolute;
    top: 204.5px;
    right: 140px;

    width: 745px;
    height: 503px;

    background-image: url('../images/eco_yellow_box.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.dashed-img {
    position: absolute;
    object-fit: contain;
    pointer-events: none;
}

.box-straight {
    width: 749px;
    height: 462px;
    top: 74px;
    right: 44px;
    z-index: -1;
}

.box-rotated {
    width: 749px;
    height: 462px;
    top: 131.11px;
    right: 19.98px;
    z-index: -2;
}

.eco-desc-text {
    margin: 0;
    padding: 63px 67px 0 67px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #303030;
    line-height: normal;
    text-align: justify;
    z-index: 3;
}

.btn-eco-explore {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    width: 353px;
    height: 55px;
    background-color: #F29928;
    border-radius: 27.5px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;

    margin: 40px auto 0 auto;
}

.leaf-deco {
    position: absolute;
    width: 264.43px;
    height: 260.59px;
    opacity: 0.54;

    top: 350px;
    left: 583px;

    z-index: 10;
    pointer-events: none;
}

.btn-eco-see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    width: 180px;
    height: 50px;
    background-color: #02542D;
    border-radius: 25px;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;

    transition: opacity 0.2s;

    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 20;
}

.btn-eco-see-more:hover {
    opacity: 0.9;
}

.news-section {
    background: url('../images/Group (7).png') no-repeat bottom left;
    background-size: contain;
    width: 100%;
    padding: 36px 0;
    margin-bottom: 41px;
}

.news-section__title {
    text-align: center;
    color: #14AE5C;
    font-family: "Inter", sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 60px;
    margin-top: 31px;
}

.news-section__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 80px;
}

.news-card {
    background-color: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 457px;
    flex: 1 1 400px;

    height: 100%;
    overflow: hidden;
}

.news-card__image-wrapper {
    position: relative;
    background-color: #95CC44;
    background-image: url("../images/Group4.png");
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    aspect-ratio: 457 / 355;
}

.news-card__image {
    display: block;
    aspect-ratio: 16 / 10;
    object-fit: cover;
    flex-shrink: 0;
    max-width: 90%;
    max-height: 85%;
    margin-top: -48px;
}

.news-card__date-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 6px 10px;
}

.news-card__date-wrapper img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 16px;
}

.news-card__date {
    bottom: 10px;
    left: 10px;
    color: #303030;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.news-card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #FFF;
    padding: 0 22px 28px 22px;
}

.news-card__title {
    color: #303030;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 26px;
}

.news-card__title a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.news-card__title a:hover {
    color: #007234;
}

.news-card__description {
    color: #303030;
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 27px;
    flex-grow: 1;
}

.about__cta2 {
    width: 180px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #02542D;
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0 auto;
}

.about__cta2:hover {
    background-color: #003324;
}

.rectangle27 {
    height: 20px;
    flex-shrink: 0;
    background: #95CC44;
    z-index: -1;
    width: 100%;
    max-width: 1913px;
}

.rectangle28 {
    height: 30px;
    flex-shrink: 0;
    background: #009950;
    margin-top: -20px;
    width: 100%;
    max-width: 812px;
    margin-left: auto;
    margin-right: 0;
}

.news-slider__controls {
    display: none;
    position: relative;
    margin-top: -250px;
    z-index: 10;
}

.news-slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.news-slider__arrow:hover {
    background-color: #f0f0f0;
}

#news-prev-btn {
    left: 10px;/
}

#news-next-btn {
    right: 10px;
}

.registration-section {
    width: 100%;
}

.registration-container {
    width: 1559px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 97px;

    padding-top: 50px;
    padding-bottom: 50px;
}

.reg-left-col {
    width: 973px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg-title-group {
    margin-top: 170px;
    margin-bottom: 27px;
    text-align: center;
    color: #14AE5C;
}

.reg-title-top {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 38.51px;
    margin: 0;
    line-height: 1.2;
}

.reg-title-bottom {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 46px;
    margin-top: 4px;
    line-height: 1.2;
}

.reg-image-wrapper {
    position: relative;
    width: 973px;
    height: 276px;
}

.reg-main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.reg-overlay-img {
    position: absolute;
    width: 510px;
    height: 238px;
    object-fit: cover;

    right: 0;
    top: 227px;

    z-index: 2;
}

.reg-right-col {
    margin-top: 59px;
}

.reg-form-box {
    width: 489px;
    height: 645px;
    background-color: #00AA4F;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-heading {
    margin-top: 34px;
    margin-bottom: 27px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.form-input-half,
.form-input-full,
.form-input-area {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #303030;

    padding-left: 23px;
    box-sizing: border-box;
    outline: none;
}

::placeholder {
    color: #B8B8B8;
    opacity: 1;
}

.form-row-split {
    display: flex;
    gap: 16px;
    width: 434px;
    margin-bottom: 16px;
}

.form-input-half {
    width: 209px;
    height: 41px;
}

.form-input-full {
    width: 434px;
    height: 41px;
    margin-bottom: 16px;
}

.form-input-area {
    width: 434px;
    height: 107px;
    resize: none;
    padding-top: 23px;
    font-family: 'Inter', sans-serif;
}

.btn-reg-submit {
    margin-top: 130px;

    width: 243px;
    height: 53px;
    background-color: #02542D;
    border-radius: 12px;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;

    cursor: pointer;
    transition: background-color 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.btn-reg-submit:hover {
    background-color: #003324;
}